@mixin article-assets($color, $border-color, $font: 10px) {
  color: $color;
  border: 1px solid $border-color;
  font-size: $font;
}

@mixin exercice-title($color, $border-color, $font: 30px) {
  color: $color;
  border-bottom: 2px solid $border-color;
  font-size: $font;
}

@mixin article($color, $border-color, $font:10px) {
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color;
  border: 1px solid $border-color;
  font-size: $font;
  height: 150px;
  padding: 30px;
}
